<launch>
  <node name="sim" pkg="turtlesim" type="turtlesim_node"/>
  <node name="teleopkey" pkg="turtlesim" type="turtle_teleop_key" output="screen"/>

  <node name="turtle1_tf2_broadcaster_cpp" pkg="ros_study2" type="tf2_broadcaster_cpp" respawn="false" output="screen">
    <param name="turtle" type="string" value="turtle1"/>
  </node>

  <node name="turtle2_tf2_broadcaster" pkg="ros_study2" type="tf2_broadcaster_cpp" respawn="false" output="screen">
    <param name="turtle" type="string" value="turtle2"/>
  </node>

  <node name="listener" pkg="ros_study2" type="tf2_listener_cpp" output="screen"/>
</launch>
